.columns {
  margin: auto;
}

.text {
  margin: 15px auto;
}

.outline {
  margin: 20px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(253, 231, 226, 0.6) !important;
}
